body{
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;

}
.NoScroll{
  overflow: hidden;
}


.boxHeight{
  height: 650px;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 768px) {
    height: auto;
    padding: 2em 0;
  }
}